.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  
  }
  
  .link {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  
  .item {
    background-color: rgba(144, 165, 179, 0.693);
    border-radius: 5px;
  }
  
  .image {
    width: 350px;
  }
  
  .title {
    padding: 10px 5px;
    text-align: center;
  }